.row {
	max-width: 100%;
	padding-left: 10px;
	padding-top: 20px;
}

.row h3 {
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: left;
	margin-left: 5%;
	margin-bottom: 10px;
}

.movie-row {
	display: grid;
	padding: 10px 0;
	width: 100%;
	grid-template-columns: 5% 90% 5%;
}

.left-arrow,
.right-arrow {
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-arrow button,
.right-arrow button {
	color: #e50914;
	font-weight: 700;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	font-size: 20px;
	margin: 0 3px;
}

.movies-container {
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.movies {
	display: flex;
	transition: 0.4s ease;
}

.movies::-webkit-scrollbar {
	display: none;
}

@media (max-width: 990px) {
	.movie-row {
		display: block;
	}
	.movies {
		transform: translateX(0px);
		overflow-x: scroll;
	}
	.left-arrow,
	.right-arrow {
		display: none;
	}
}

@media (max-width: 480px) {
	.movie-row {
		padding-left: 0;
	}
	.row h3 {
		margin-left: 0;
	}
	.row h1 {
		font-size: 17px;
	}
}
