.named-row {
	display: flex;
	flex-direction: column;
	min-width: 250px;
	margin-right: 10px;
}

.named-row .movie-img {
	margin-right: 0;
}

.named-row p {
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
}

.movie-img {
	width: 100%;
	max-height: 150px;
	object-fit: contain;
	margin-right: 10px;
	transition: 0.5s linear;
}

.movie-img:hover {
	transform: scale(1.09);
}

@media (max-width: 480px) {
	.named-row {
		min-width: 150px;
	}
	.named-row p {
		font-size: 14px;
	}
	.movie-img {
		max-height: 120px;
	}
}
